<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{url_for('index')}}">Home</a></li>
  <li><a href="{{url_for('profile')}}">Profile</a></li>
  <li class="active">Change Password</li>
</ol>

<div class="well">

    <form method="post" name="edit_profile">
        {{form.hidden_tag()}}

        <div class="form-group{% if form.errors.current_password %} has-error{% endif %}">
            <label class="control-label" for="current_password">{{form.current_password.label}}:</label>
            {{ form.current_password(maxlength = 120, class = "form-control") }}
            {% for error in form.errors.current_password %}
            <span class="help-block text-danger">{{error}}</span>
            {% endfor %}
        </div>

        <div class="form-group{% if form.errors.new_password %} has-error{% endif %}">
            <label class="control-label" for="new_password">{{form.new_password.label}}:</label>
            {{ form.new_password(maxlength = 120, class = "form-control") }}
            {% for error in form.errors.new_password %}
            <span class="help-block text-danger">{{error}}</span>
            {% endfor %}
        </div>

        <div class="form-group{% if form.errors.repeat_password %} has-error{% endif %}">
            <label class="control-label" for="repeat_password">{{form.repeat_password.label}}:</label>
            {{ form.repeat_password(maxlength = 120, class = "form-control") }}
            {% for error in form.errors.repeat_password %}
            <span class="help-block text-danger">{{error}}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Save Changes</button>
            <a href="{{ url_for('profile') }}" class="btn btn-default">Cancel</a>
        </div>

    </form>

</div>
{% endblock %}