{% extends "base.html" %}

{% block content %}
<ol class="breadcrumb">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('users')}}">Users</a></li>
    <li class="active">Edit</li>
</ol>

<div class="well">

    <form action="" method="post" name="edit_user">
        {{form.hidden_tag()}}

        <div class="form-group{% if form.errors.roles %} has-error{% endif %}">
            <label class="control-label" for="roles">{{form.roles.label}}:</label>
            {{ form.roles }}
            {% for error in form.errors.roles %}
            <span class="help-block text-danger">{{error}}</span>
            {% endfor %}
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Save Changes</button>
            <a href="{{ url_for('users') }}" class="btn btn-default">Cancel</a>
        </div>
    </form>

</div>
{% endblock %}